* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
}

.carousel-container {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 70px;
}
.leftButton,
.rightButton {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  color: green;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.leftButton {
  right: 500px;
}
